.containerInput {
    text-align: center;
}

    .containerInput button {
        width: 210px;
        height: 42px;
        border-radius: 2px;
    }

.inputStyle {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #000;
    max-width: 210px;
    height: 42px;
    width: 100%;
    margin-right: 15px;
    padding-right: 10px;
}

.inputDropdownStyle {
    background-color: #000 !important;
    color: #fff !important;
    width: 100% !important;
    padding-bottom: 7px !important;
}

.makeReservationStyle {
    text-align: center;
    font-size: 40px;
    padding-bottom: 100px;
    padding-top: 150px;
}
