.gallery-text {
    text-align: center;
    margin: 50px;
}

    .gallery-text h2 {
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        font-weight: 100;
        font-size: 35px;
        color: #FBD99A;
    }

    .gallery-text p {
        font-size: 25px;
        font-family: serif;
    }
