.container-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box2";
    grid-gap: 20px;
}

.contact-text {
    margin-top: 50px;
    grid-area: box1;
    text-align: center;
}

.contact-form {
    margin-top: 50px;
    grid-area: box2;
}

.contact-text p {
    color: #fff;
    font-family: serif;
    font-weight: 100;
    font-size: 15px;
}


.contact-text h2 {
    font-family: serif;
    font-weight: 100;
    font-size: 40px;
}

.contact-form form input {
    width: 300px;
    height: 50px;
    background-color: black;
    background-color: black;
    border-color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: white;
    margin-left: 10px;
}

    .contact-form form input:focus {
        outline: none;
    }

#msg-input:focus {
    outline: none;
}

#sub-input {
    width: 610px;
}

#msg-input {
    background-color: black;
    background-color: black;
    border-color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: white;
    margin-left: 10px;
    width: 610px;
    height: 150px;
    padding-top: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

#submit-input {
    margin-top: 30px;
    background-color: white;
    color: black;
    width: 610px;
}

.g-map {
    margin-top: 50px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100vw;
}

@media only screen and (max-width: 850px) {
    .container-grid {
        margin-top: 100px;
        grid-template-rows: 0.2fr 1fr;
        grid-template-columns: 95%;
        grid-template-areas: "box1" "box2";
    }

    .contact-text {
        margin-top: 10px;
        grid-area: box1;
        text-align: center;
        margin-left: 5%;
    }

    .contact-form {
        margin-top: 20px;
        grid-area: box2;
        margin-right: 10px;
    }

        .contact-form form input {
            width: 100%;
            height: 50px;
            color: white;
            margin-left: 10px;
        }

    #sub-input {
        width: 100%;
    }

    #msg-input {
        width: 100%;
        height: 100px;
    }

    #submit-input {
        margin-top: 30px;
        background-color: white;
        color: black;
        width: 100%;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 400px;
        width: 100vw;
    }
}
