.main-footer {
  margin-top: 50px;
}

.footer-text i {
  margin-left: 3px;
  width: 30px;
  height: 30px;
}

.footer-text {
  text-align: center;
}
h5 {
  margin-top: 0;
}

.finish {
  height: 20px;
}
