.labelCustomStyle {
    width: auto;
    height: 36px;
    left: -8px;
    background: none !important;
    font-size: 16px !important;
    border-color: #ffffff !important;
    box-shadow: 0px 0px 6px 0px;
    padding-left: 6px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    color: #ffffffd6 !important;
}

.summaryCustomStyle {
    outline: none;
    font-weight: 700;
}


.cardStyle {
    box-shadow: 0px 0px 4px 0px;
    margin: 10px;
    max-width: 250px;
    max-height: 432px;
    width: 100%;
    padding: 10px;
}

    .cardStyle img {
        height: 200px;
        width: 220px;
    }

    .cardStyle h3 {
        min-height: 260px;
        margin-top: 10px;
    }

.greenButton {
    background-color: #00aa1596 !important;
}

.buttonsContainer redButton {
    background-color: #d0191980 !important;
}





@media only screen and (max-width: 767px) {
    .cardStyle {
        box-shadow: 0px 0px 4px 0px;
        margin: 20px;
        max-width: 250px;
        width: 100%;
        padding: 10px;
    }
}
